/*-------------generelle------------*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
}

:root {
    --koga-blue: #0e7dc7;
    --baggrund-grey: #f8f8f8;
    --darker-grey: #666666;
    --navi-knapper: #4ea4d6;
    --header-skrift: 'Open Sans', sans-serif;
    --broedtekst-skrift: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background-color: var(--baggrund-grey);
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-skrift);
}

h1 {
    color: #007CC4;
    text-align: center;
    margin: 5vw 0 0 0;

}

h2 {
    font-size: 2rem;
    color: var(--koga-blue);
    margin: 2vw 0 1vw 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

a,
p,
pre {
    font-family: var(--broedtekst-skrift);
}

a {
    text-decoration: none;
}

pre {
    display: flex;
    white-space: pre-wrap;
    line-height: 3vh;
}

figcaption {
    margin: 0 0 2vw 0;
    padding: 0 0 5vw 0;
    text-align: center;
    font-family: var(--broedtekst-skrift);
    font-style: italic;
    color: var(--darker-grey);
}

/*-------------HEADER------------*/

header {
    display: flex;
    background-image: url("images/header_3_asfalt.jpg");
    margin: 0 auto;
    height: 4rem;
    width: 100%;
    background-position: 100%;

}

.header_stor {
    height: 20rem;
}

.logo {
    background-image: url(assets/logo_white_new.svg);
    height: 40px;
    width: 150px;
    position: relative;
    background-size: 100%;
    margin: 2vw;
}

.logo_link {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2vw 5vw;
    position: absolute;
    right: 0;
    top: 4rem;
    color: white;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    color: white;
}

header a {
    font-family: var(--header-skrift);
    color: white;
    font-size: 1rem;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    padding: 2vw;
    margin: 0;
}

header a:hover {
    text-decoration: underline;
}

.show {
    display: inline-block;
}

.hidden {
    padding: 0;
    display: none;
}

/* animated burger icon i header */

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}


/*---------------FORSIDE--------------*/

#forside_grid {
    display: none;
}

.main_image {
    width: 100%;
    height: auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.main_text {
    border: var(--koga-blue) 3px solid;
    background-color: transparent;
    margin-top: 30px;
    padding: 15px;
}

.main_text:hover {
    background-color: var(--koga-blue);
    color: white;
}

.main_text a:hover {
    color: white;
}

.main_text a {
    text-decoration: none;
    font-size: 25px;
    color: #4b8ce5;
}

/* Slideshow css starts*/

/* Slideshow container */

.img1 {
    background-image: url("images/splash_11.jpg");
    background-position: 25% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.img2 {
    background-image: url("images/splash_9.jpg");
    background-position: 75% 90%;
    position: absolute;
    <<<<<<< HEAD left: 0;
    top: 0;
    width: 500%;
    height: 100%;
    animation: slidy 18s 0s backwards infinite;
    =======height: 90vh;
    width: 100%;
    background-size: cover;
}

.img3 {
    background-image: url("images/splash_10.jpg");
    background-position: 75% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
    > > > > > > > origin/master
}

.img4 {
    background-image: url("images/splah_comfort-AOC-blue.jpg");
    background-position: 90% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}

.img5 {
    background-image: url("images/splash_6.jpg");
    background-position: 90% 0;
    position: absolute;
    height: 90vh;
    width: 100%;
    background-size: cover;
}


.galleryContainer {
    width: 100%;
    height: 90vh;
    user-select: none;
    box-sizing: border-box;
}

.galleryContainer .slideShowContainer {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}



.galleryContainer .slideShowContainer .imageHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder .captionText {
    display: none;
}



.galleryContainer .slideShowContainer > .captionTextHolder {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.galleryContainer .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.galleryContainer .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}


.galleryContainer .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.galleryContainer .moveRightPrevSlide {
    animation-name: moveRightPrev;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightPrev {
    from {
        margin-left: -100%;
        opacity: 1;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}

.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromBottom {
    from {
        opacity: 0;
        margin-top: 100px
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes slideTextFromTop {
    from {
        opacity: 0;
        margin-top: -100px
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}



/* Slideshow css end */

.splash_text h1 {
    padding: 0 0 20vw 0;
    text-transform: uppercase;
    font-size: 4vw;
    color: white;
}

.splash_text {
    position: absolute;
    text-align: center;
    color: white;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}


#splash_container a span {
    position: absolute;
    padding: 1.5vw;
    bottom: 6vw;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -12px;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    animation: pil 2s infinite;
    box-sizing: border-box;
}

@keyframes pil {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/*Slideshowet til kategorier*/
.kat_container {
    max-width: 700px;
    position: relative;
    margin-bottom: 3.5vw;
}

.labelKat {
    background-color: var(--koga-blue);
    opacity: 80%;
    height: 25%;
    width: 93%;
    position: absolute;
    bottom: 3vw;
    left: 3.6vw;
    cursor: pointer;
}

.navnKat {
    font-size: 4vw;
    padding-top: 6vw;
    text-align: center;
    color: white;
    cursor: pointer;
}

/* Position the "next button" to the right */
.kathoejre {
    font-size: 4vw;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.katvenstre {
    font-size: 4vw;
    left: 0;
}

/*---------------CYKLER---------------*/

h1 {
    font-size: 6.5vw;
}

h2 {
    font-size: 3.5vw;
}

.thumbnail {
    max-width: 200px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
}

.flex-container {
    display: flex;
}

#cykellisten {
    background-color: var(--baggrund-grey);
    padding-top: 2vw;
}

#signature-cykler {
    padding-top: 0;
}

#cykellisten .box {

    margin: 3vw;
    padding: 1rem;
}

#cykellisten .cykler {
    height: 350px;
    max-width: 95vw;
}


article {
    padding: 0 2.7vw;
}

.underoverskrift {
    margin: 0 0 0 3vw;
    font-weight: 200;
    font-size: 1rem;
}

#cykellisten h2 {
    text-align: left;
    color: #007CC4;
    margin: 0 0 0 3vw;
    text-transform: uppercase;
}

#encykel {
    margin: 0.8em 1em;
}

.encykel .navn,
.pris,
.signlabel h3 {
    color: white;
    font-size: 1rem;
}

.label {
    cursor: pointer;
    background-color: var(--koga-blue);
    padding: 0.5em;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
}

.signlabel {
    cursor: pointer;
    background-color: var(--koga-blue);
    text-align: center;
    height: 7vw;
    padding: 2vw;
}

.vandret {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 2vw 0 3vw 0;

}

.box {
    background-image: url(images/Mark-Beaumont-Bike-Koga-80-Days-06-1000x624.jpg);
    background-size: 100%;
    /* height: 250px; */
    height: 300px;
    /*   box-shadow: 0.8vw 1vw 2vw grey;*/
}

.textimg {
    padding: 160px 0 20px 0;
    text-align: center;
}

.encykel:hover,
.box:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.05);
}

.label:hover,
.tilbage:hover {
    background-color: rgb(62, 103, 141);
}

#cykellisten .overskrift {
    margin-left: 3vw;
    text-align: left;
}

#cykellisten .underoverskrift {
    margin: 1vw 2vw 3vw 3vw;
}

.signcykler {
    height: 470px;
}

/*Scrollbar i hver sektion*/
/* width */

.cykler ::-webkit-scrollbar {
    width: 100%;
    border-radius: 10px;
}

/* Track */
.cykler ::-webkit-scrollbar-track {
    background-color: #d6dee2;
    border-radius: 10px;
    margin: 3vw;
}

/* Handle */
.cykler ::-webkit-scrollbar-thumb {
    background-color: #4ea4d6;
    border-radius: 10px;
}

/* Handle on hover */
.cykler ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 124, 196, 0.33);
}

/*---------------SINGLE VIEW---------------*/

#encykel {
    padding: 2vw;
}

.navn {
    padding: 2vw 0;
    font-size: 7vw;
    color: var(--koga-blue);
}

.tilbage {
    background-color: var(--navi-knapper);
    border: none;
    color: white;
    font-size: 4vw;
    height: 9vw;
    width: 9vw;
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 5;
    cursor: pointer;
}

.galleri_container {
    max-width: 900px;
    position: relative;
    margin-bottom: 3vw;
}

.encykelslide img,
.kat_slide img {
    width: 100%;
}

.kat_slide img {
    padding: 3.5vw;
}

/* Next & previous buttons */
.prev,
.next,
.katvenstre,
.kathoejre {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: -5vw;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: -5vw;
}

.prev:hover,
.next:hover,
.katvenstre:hover,
.kathoejre:hover {
    background-color: rgba(136, 136, 136, 0.8);
}

.prev,
.next {
    font-size: 4vw;
}

.enCykelview .navn {
    text-align: center;
}

.tekstcontainer {
    display: flex;
    flex-flow: column wrap;
}

.tekstvenstre,
.teksthoejre {
    flex-basis: 1;
    flex-grow: 200px;
    margin: 3vw;
    padding: 4vw 1.5vw;
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.04);
}

.nummer {
    color: var(--koga-blue);
    margin: 0 0 0 52vw;
    font-weight: 600;
    text-align: right;
}

.tekstcontainer .tekst {
    padding: 1.6vw;
}

/*-------------------OM---------------------*/

.indhold {
    margin: 3vw 1.5vw 4vw;
}


.side img {
    width: 100%;
    margin: 3.4vw 0;
}

.omtekst {
    background-color: white;
    padding: 3vw;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
}

.kcc_tekst {
    grid-area: kcc_tekst;
}

.his1_tekst {
    grid-area: his1_tekst;
}

.his2_tekst {
    grid-area: his2_tekst;
}

.filo1_tekst {
    grid-area: filo1_tekst;
}

.filo2_tekst {
    grid-area: filo2_tekst;
    margin-bottom: 2vw;
}

.kcc_billede {
    grid-area: kcc_billede;
}

.his1_billede {
    grid-area: his1_billede;
}

.his2_billede {
    grid-area: his2_billede;
}

.filo1_billede {
    grid-area: filo1_billede;
}

.filo2_billede {
    grid-area: filo2_billede;
}

/*---------------KONTAKT--------------*/

#info h1 {
    margin: 5vw;
    text-align: center;

}

#info h2 {
    font-size: 3vw;
    margin: 5px;
    color: #007CC4;
}

#info p {
    font-size: 3vw;
}

#info {
    margin: 2.5rem;
}

#info #section_wrapper1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;

}

#info .text_kontakt {
    flex-grow: 1;
    flex-basis: 250px;
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    padding: 2vw;
    margin: 3vw 0 1vw 0;
}

.text_kontakt img {
    height: 260px;
    width: 400px;
    margin: 15px;
}

#info .text_kontakt h2,
.text_kontakt p {
    margin: 15px;
}


#info .broedtekst_jonas {
    flex-grow: 1;
    flex-basis: 220px;
}

#info .billede_jonas {
    width: 100%;
    align-items: center;
    padding: 3vw;
}

#info .map {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    padding-bottom: 48.5%;
    padding-top: 25px;
    height: 0;
}

#info iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#info #section_wrapper1 {
    margin-top: 2vw;
    display: grid;
    flex-wrap: wrap-reverse;
}

#info .map {
    margin: 0;
    width: 100%;
    padding-bottom: 45%;
    padding-top: 20%;

}

/*-----------------FOOTER--------------------*/

footer {
    width: 100%;
    /*  background-image: url("images/asfalt.jpg"); */
    /*    background-image: linear-gradient(#aaa, #333);*/
    background-color: #333333;
    background-size: 100%;
    color: white;
    padding: 2.5vw;
}

#footerinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
}

footer img {
    display: flex;
}

.facebook {
    cursor: pointer;
    background-image: url(assets/ikoner/facebook-circular-logo-white.svg);
    background-size: 100%;
    height: 5vw;
    width: 5vw;
}

.twitter {
    cursor: pointer;
    background-image: url(assets/ikoner/twitter-white-shape.svg);
    background-size: 100%;
    height: 5vw;
    width: 5vw;
}

.some {
    grid-column: 2;
    grid-row: 1;
    /*grid i grid*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
    padding: 0.5em 0 0;
}

.adresse {
    grid-column: 1;
    grid-row: 2;
}

.aabningstider {
    grid-column: 2;
    grid-row: 2;
}

.kontaktinfo {
    grid-row: 2;
    grid-column: 3;
}


/*--------------MEDIA QUERIES------------*/

/*hvis skærmen er min. 800px og større --- TABLET og andre*/
@media screen and (min-width: 800px) {
    figcaption {
        margin: 0;
    }

    /*forside.html*/
    .splash_text h1 {
        font-size: 4.5vw;
        text-align: left;
    }

    /*forside-grid*/
    .labelKat {
        bottom: 3vw;
        left: 4.5vw;
    }

    #forside_slides {
        display: none;
    }

    #forside_grid {
        display: block;
        margin: 0;
    }

    #forside_grid img {
        width: 35vw;
    }

    .kats_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 70vw;
        grid-gap: 4vw;
    }

    .kat_container {
        position: relative;
        cursor: pointer;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    }

    .kat_container:hover {
        transform: scale(1.02);
        transition: 0.4s ease-in-out;
    }

    .grid_label {
        background-color: var(--koga-blue);
        opacity: 80%;
        height: 25%;
        width: 100%;
        position: absolute;
        bottom: 0vw;
        left: 0vw;
        cursor: pointer;
    }

    #forside_grid h4 {
        color: white;
        text-align: center;
        padding: 1vw;
        font-size: 1.5rem;
    }

    #forside_grid h1 {
        font-size: 2.5rem;
        color: var(--koga-blue);
        text-align: center;
        padding: 3vw 0 2vw 0;
    }

    /*header*/
    header {
        height: 4rem;
    }

    .logo {
        margin: 1vw;
    }

    .dropbtn {
        visibility: hidden;
    }

    .menu {
        display: block;
        height: auto;
        width: auto;
        position: absolute;
        top: 0;
        padding: 2vw;
        background: none;
    }

    header a {
        font-size: 1.5vw;
    }

    /*om.html*/

    .omtekst {
        margin-top: 2.8vw;
        padding: 3vw;
    }

    /*cykler.html*/
    #cykellisten .underoverskrift {
        margin: 0 5vw 5vw 3vw;
        max-width: 68vw;
    }

    #cykellisten .overskrift {
        margin: 3vw;
    }

    .thumbnail {
        width: 450px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);
    }

    .pil_venstre,
    .pil_hoejre {
        height: 2.5vw;
        width: 2.5vw;
    }

    .pris,
    .encykel .navn {
        font-size: 1.8vw;
    }

    .signlabel h3 {
        font-size: 2vw;
    }

    .box {
        /* margin: 0 0 4vw 2.8vw;
        height: 400px;
        width: 700px;*/
        height: 300px;
        width: 68vw;
    }

    .textimg {
        /* padding: 15vw 3vw; */
        padding: 150px 30px 0 30px;
    }

    #cykellisten .cykler {
        /* height: 560px;*/
        margin: 0 10px 0 0;
        width: 70vw;
        height: 400px;
    }

    .signcykler {
        height: 500px;
    }

    /* Fixed menu on the left for dekstop*/
    .right_side_air,
    .side_menu_wrapper {
        display: block;
        min-width: 20%;
    }

    .fix-side-menu {
        position: fixed;
        top: 9rem;
        left: 0;
    }

    .fix-menu-list {
        list-style: none;
    }

    .list_item {
        background-color: rgba(51, 124, 190, 0.80);
        padding: 7px;
        margin: 20px 0 10px 20px;
    }

    .list_item:hover {
        background-color: rgba(51, 124, 190);
        color: white;
    }

    .fixed_menu_link {
        color: whitesmoke;
        /*padding: 20px; */
    }

    .fixed_menu_link:hover {
        color: white;
    }



    /*singleView.html*/
    #encykel {
        margin: 0.8vw 3vw;
    }

    .tilbage {
        z-index: 2;
        font-size: 2.5vw;
        top: 8vw;
        height: 7vh;
        width: 7vw;
    }

    .prev,
    .next {
        font-size: 2.5vw;
    }

    .tekstcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vw;
    }

    .nummer {
        margin: 0 0 0 25vw;
    }

    .teksthoejre {
        grid-column: 2;
        margin: 0;
        padding: 4.3vw 1.8vw;
    }

    .tekstvenstre {
        grid-column: 1;
        margin: 0;
        padding: 4.3vw 1.8vw;
    }

    pre {
        font-size: 1.7vw;
    }

    /*kontakt.html*/
    #info p {
        font-size: 2vw;
    }

    /*footer*/

    #footerinfo {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1.5vw;
    }

    footer img {
        display: flex;
    }

    .facebook,
    .twitter {
        height: 3vw;
        width: 3vw;
    }

    .some {
        grid-column: 4;
        grid-row: 2;
    }

    h4 {
        font-size: 1.8vw;
    }

    footer p {
        font-size: 1.5vw;
    }
}

/*-------Desktop skærme-----*/

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 4.3vw;
    }

    h2 {
        font-size: 2vw;
    }

    header a {
        font-size: 1.2vw;
    }


    /*forside.html*/
    .splash_text h1 {
        font-size: 3vw;
        text-align: left;
    }

    .labelKat {
        width: 100%;
        bottom: 1vw;
        left: 0;
    }

    .navnKat {
        font-size: 3vw;
        padding-top: 2vw;
    }

    .katvenstre,
    .kathoejre {
        font-size: 2vw;
    }

    .katvenstre {
        left: -5vw;
    }

    .kathoejre {
        right: -5vw;
    }

    /* om.html*/
    .side {
        display: grid;
        grid-gap: 1.6vw;
        grid-row-gap: 2vw;
        grid-template-areas:
            "kcc_billede kcc_tekst"
            "his1_tekst his1_billede"
            "his2_billede his2_tekst"
            "filo1_tekst filo1_billede"
            "filo2_billede filo2_tekst";
    }

    p {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1, 5rem;
    }

    .side img {
        width: 100%;
        margin-top: 5vw;
    }

    .filo2_billede img {
        height: 100%;
    }

    .his2_tekst {
        padding-top: 3vw;
    }

    .omtekst {
        margin-top: 2.8vw;
        padding: 3vw;
    }

    /*cykler.html*/
    #cykellisten .underoverskrift {
        margin: 0 7vw 1vw 3vw;
    }

    .thumbnail {
        max-width: 800px;
        cursor: pointer;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.08);

    }

    .box {
        height: 350px;
        width: auto;
        margin-left: 3vw;
    }

    .textimg {
        padding: 200px 30px 0 30px;
    }

    .pris,
    .encykel .navn {
        font-size: 1.2vw;
        margin: 1vw;
        padding: 0;
    }

    #cykellisten .cykler {
        margin: 0 10px 0 0;
        width: 70vw;
        height: 600px;
    }

    .signcykler {
        height: 550px;
    }

    /*singleView.html*/
    .navn {
        font-size: 3vw;
    }

    .next {
        right: -5vw;
    }

    .teksthoejre,
    .tekstvenstre {
        margin: 0;
        padding: 2vw;
    }

    pre {
        font-size: 1.5vw;
        line-height: 3.5vh;
    }

    .tilbage {
        font-size: 2.5vw;
        top: 8vw;
        height: 6.3vh;
        width: 6.3vw;
    }

    .textimg {
        padding: 12vw 3vw;
    }

    .nummer {
        margin: 0 0 0 27vw;
    }

    /*kontak.html*/
    #info #section_wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 2vw;
    }

    #info p {
        font-size: 1.3vw;
    }

    #info h2 {
        font-size: 2vw;
    }

    #info .text_kontakt {
        margin: 0 0 0 2.5vw;
        padding: 0;
    }

    #info .map {
        margin: 0 0 6vw;
    }

    /*footer*/

    .facebook,
    .twitter {
        height: 2.5vw;
        width: 2.5vw;
        padding-right: 1vw;
    }

    h4 {
        font-size: 1.5vw;
    }

    footer p {
        font-size: 1.2vw;
    }

    /* Fixed menu on the left for dekstop*/
    .right_side_air,
    .side_menu_wrapper {
        display: block;
        min-width: 25%;
    }

    .fix-side-menu {
        position: fixed;
        top: 9rem;
        left: 7vw;
    }

    .fix-menu-list {
        list-style: none;
    }

    .list_item {
        background-color: rgba(51, 124, 190, 0.80);
        padding: 10px;
        margin-bottom: 20px 0 10px 20px;
    }

    .list_item:hover {
        background-color: rgba(51, 124, 190);
    }

    .fixed_menu_link {
        color: whitesmoke;
        padding: 10px;
    }

}
